@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

h1,h2,h3,h4,h5,h6, p, button {
  font-family: 'Roboto Slab', serif;
}

button {
  --pressed-shadow-color: #666;
  --pressed-color: #999;
  --hover-color: #444;
  --shadow-color: #2B383A;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  margin-left: 5px;
  background-color: #000;
  border: none;
  box-shadow: 0 5px var(--shadow-color);
}

button:hover {background-color: var(--hover-color)}

button:active {
  background-color: var(--pressed-color);
  box-shadow: 0 3px var(--shadow-color);
  transform: translateY(2px);
}

button.large {
  padding: 15px 55px;
  font-size: 24px;
  box-shadow: 0 9px var(--shadow-color);
}

button.large:active {
  box-shadow: 0 5px var(--pressed-shadow-color);
  transform: translateY(4px);
}

button.medium {
  padding: 12px 35px;
  font-size: 18px;
  box-shadow: 0 6px var(--shadow-color);
}

button.medium:active {
  box-shadow: 0 4px var(--pressed-shadow-color);
  transform: translateY(3px);
}


button.red {
  --pressed-shadow-color: #B20033;
  --pressed-color: #912B2B;
  --hover-color: #E52B2B;
  --shadow-color: #B20033;
  background-color: #F92B2B;
  box-shadow: 0 5px #B20033;
}
