h1 {
  font-size: 86px;
  margin-bottom: 0;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.main-item {
  max-width: 100%;
  align-self: center;
  text-align: center;
}

.startbutton {
  margin-top: 5em;
  margin: auto;
}

.madetag {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1em;
}

.no-margin {
  margin-top: 0px;
  text-align: center;
}
