.button {
  background-color: black;
  border-bottom: thick solid #2B383A;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  width: 100px;
  margin: auto;
}
